                                /* Font connection*/

@font-face {
  font-family: Pattaya-Regular;
  src: url(fonts/Pattaya-Regular.ttf);
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/GothamPro.eot');
  src: local('Gotham Pro'), local('GothamPro'),
  url('fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('fonts/GothamPro.woff') format('woff'),
  url('fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro';
  src: url('fonts/GothamPro-Bold.eot');
  src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
  url('fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/GothamPro-Bold.woff') format('woff'),
  url('fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
                                /* End font connection*/

                                /* Css reset*/
body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
body{
  font-family: 'Gotham Pro';
  font-style: normal;

}
ul{
  margin-bottom: 0;
}
a{
  text-decoration: none;
}
a:hover{
    color: inherit;
    text-decoration: none;
}
                                /* End css reset*/

                                /* Header + menu*/
.header{
  display: flex;
  background: url('img/header_bg.jpg') center top/cover;
  min-height: 400px;

  position: relative;
  flex-direction: column;
  z-index: 2;

}
.header_blur{
    background: url('img/header_bg.jpg') center top/cover;
    filter: blur(5px);
    background-clip: content-box;
    padding: 1000px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

}
.site_name {
  font-family: Pattaya-Regular;
  font-size: 38px;
  color: white;
  z-index: 5;

}
.site_description{
  color: white;
  font-size: 18px;
}
.name_and_description{
  padding: 15px 27px;
  background-color: rgba(0, 0, 0, 0.35);
  align-self: center;

}


.header_container{
  display: flex;
}
.header_block{
  width: 100%;
  flex-grow: 1;
  display: flex;
}
.header_row{
  width: 100%;
}
.circle{
  position: absolute;
  right: -26px;
  top: -26px;
  z-index: -1;
}
.header_social_icon{
  padding-top: 29px;
  margin: 0 0 auto auto;
}
.header_social_icon img{
  padding-left: 25px;
}
.nav_menu{
  background-color: rgba(255, 247, 240, 0.31);
  position: relative;
}
.ul_menu{
  display: flex;
  width: 100%;
  line-height: 2.5 ;
}
.li_menu{
  flex-grow: 1;
  text-align: center;
}
.menu_item:hover{
  text-decoration: none;
  color: #ffb900;
}
.menu_item{
  color: white;
}
.menu_button{
  position: absolute;
  padding: 30px;
  display: none;
}

.sub_menu_item{
  color: black;
    font-size: 14px;
    text-decoration: none;
}
.sub_menu_item:hover{
    color: #ffb900;
}
.submenu{
    position: absolute;
    left: 0;
    width: 100%;
    top: 40px;
    background-color: #ffeacb;
    display: none;
}
.ul_submenu{
    display: flex;
    flex-direction: column;
    height: 310px;
    flex-wrap: wrap;
    width: 100%;
}
.li_submenu{
    text-align: left;
    margin-right: 25px;
    border-bottom: 1px solid #ffb900;
    padding: 5px 0px 5px 25px;
}
.li_submenu:nth-child(6n){
    border-bottom: none;
}
.li_menu:hover .submenu{
    display: block;
}
                                /* End header + menu*/

                                /* Mobile menu*/
.mobile_menu{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    top: 0px;
    left: 0px;
    display: none;
}
.ul_mobile_submenu{
    display: none;
}
.ul_mobile_menu{



}
.mobile_menu_item{
    color: black;
}
.li_mobile_menu{
    font-size: 16px;
    padding: 10px 80px;
    border-bottom: 1px solid black;
}
                                /* End mobile menu*/

@media screen and (max-width: 1200px){
    .li_submenu{
        padding-left: 15px;
    }
}
@media screen and (max-width: 992px){
  .nav_menu {
    display: none;
  }
  .menu_button{
    display: block;
  }
  .header{
    min-height: 300px;
  }
}
@media screen and (max-width: 768px){
  .header_social_icon{
    display: none;
  }

}
@media screen and (max-width: 576px){
  body{

  }
}
